<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>Welcome to home page</h3>
    <a href="{% url 'unic' 1 %}">Student 1</a>
    <a href="{% url 'unic' 2 %}">Student 2</a>
    <a href="{% url 'unic' 3 %}">Student 3</a>

    <a href="{% url 'sub' my_id=1 my_subid=1 %}">sub Student 1</a>
    
</body>
</html>